@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
	background-color: #333;
	color: #fff;
}
input {
 outline:none;
}

#box {
  position:relative;
  margin:5% auto auto auto;
  width:450px;
  padding:40px 50px;
  background-color:#fff;
  display: table;
  color: #333;
  text-align:center;
}

a {
color: #333;
}

a:hover{
color: #333;
}

#title {
font-size: 20px;
margin: 2%;
font-family: "Righteous";
}